/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2)
    format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh6UVSwaPGQ3q5d0N7w.woff2)
    format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wXiWtFCc.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
    U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
    U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html,
body {
  font-size: 16px;
  font-family: Lato, sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
p,
li {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

li {
  margin-bottom: 0.5rem;
}

h1,
h2,
h3,
h4 {
  /* color: hsla(0, 0%, 0%, 0.8); */
  font-family: Lato, sans-serif;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2rem;
  line-height: 2.415rem;
}

h2 {
  font-size: 1.51572rem;
  line-height: 2.415rem;
}

h3 {
  font-size: 1.31951rem;
  line-height: 1.61rem;
}

h4 {
  font-size: 1rem;
}

td.pad10 {
  padding-left: 10px;
  padding-right: 10px;
}

td.code_right {
  text-align: right;
  font-family: monospace;
}

code,
span.command {
  font-size: 0.88rem;
  line-height: 1.61rem;

  border-radius: 3px;
  font-family: monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.page-title {
  text-align: center;
  margin: 1rem 0 2.5rem 0;
}

/**
  * Output Typography
  **/
#outputPanel .execMessage *,
#outputPanel .tabcontent *,
#types {
  font-size: 0.9375rem;
  line-height: 1.1em;
}

#outputPanel .execMessage h1,
#outputPanel .tabcontent h1 {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 0;
}

#outputPanel .execMessage h2,
#outputPanel .tabcontent h2 {
  font-size: 1.3rem;
  font-weight: normal;
  margin-bottom: 0.2em;
}

#outputPanel .execMessage h3,
#outputPanel .tabcontent h3 {
  font-size: 1.1rem;
  font-weight: normal;
  margin-bottom: 0.2em;
}

#outputPanel .execMessage h4,
#outputPanel .tabcontent h4 {
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 0.2em;
}

#types .type,
#outputPanel .type,
.python,
#outputPanel .python,
.michelson,
#outputPanel .michelson,
#outputPanel .on {
  font-family: monospace;
  font-size: 0.9375rem;
}

.dataColumn,
.code {
  font-family: monospace;
}
